/* VARS ====*/
:root {
    /*colors*/
    --button-color: #ff6565;
    --text-color: #FFFFFF;

    /*margins - header/nav*/
    --distance-from-top: 30px;
}

/* ALL ==== */
* {
    margin: 0;
    padding: 0;
}

/* BODY ==== */
body {
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: 'Source Sans Pro', sans-serif;
}

/* MENU BTN / BURGER*/
.burger {
    display: none;
}
#menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    width: 16px;
}

#menu-burger {
    width: 15px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px gray;
    transition: all .5s ease-in-out;
}

#menu-burger::before,
#menu-burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px gray;
    transition: all .5s ease-in-out;
}

#menu-burger::before {
    transform: translateY(-5px);
}

#menu-burger::after {
    transform: translateY(5px);
}

.burger:checked ~ #menu-container #menu-btn #menu-burger{
    background: rgba(0,0,0,0.0);
}

.burger:checked ~ #menu-container #menu-btn #menu-burger::before{
    transform: rotate(-45deg);
}

.burger:checked ~ #menu-container #menu-btn #menu-burger::after{
    transform: rotate(45deg);
}
#menu-btn:hover
{
    background:blue;
}

/* HEADER ==== */

header {
    color: var(--text-color);
    height: 60rem;
    background-image: url(/images/headphones_hero_1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#header-logo {
    margin-top: var(--distance-from-top);
    width: 150px;
    height: 32px;
}

/* CASCADING */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* NAV ==== */

#nav-list{
    margin-top: var(--distance-from-top);
    list-style: none;
    display: flex;
}

.nav-items {
    font-size: 12px;
    margin: 30px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.nav-items:hover, .nav-items:active {
    color: #FF6565;
}

/* HERO ==== */

#hero-section {
    margin: 17%;
    text-align: center;
}

#hero-part1 {
    font-weight: bold;
    margin-bottom: 5%;
}

#hero-part1 h2{
    font-size: 27px;
}

#hero-part2 p{
    position: relative;
    margin-top: 8%;
    margin-right: 25%;
    margin-left: 25%;
}

/* red buttons */
.buttons {
    color: var(--text-color);
    font-weight: bold;
    background-color:  var(--button-color);
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    padding: 10px 25px;
    font-size: 14px;
}

.buttons:hover {
    opacity: 0.9;
}


/* MAIN =======================================================
*/

/*ALL MAIN SECTIONS*/

.main-sections {
    margin: 6rem;
    text-align: center;
}

.main-sections-headers h2 {
    font-size: 40px;
    margin-bottom: 4rem;
}

.main-sections-headers p{
    margin: 0 31%;
}

/* WE-DO-SECTION */

#we-do-part2 {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.we-do-icons span {
    color: #FF6565;
    font-size: 100px;
}

.we-do-icons p {
    width: 12rem;
}

/* MEDIA QUERYS 
=====================================================
*/

@media screen and (max-width: 1000px) {
    .burger:checked ~ nav #nav-list{
        display: flex;
    }

    /* hero section Query changes */
    #hero-part1 {
        font-weight: bold;
        margin-bottom: 10%;
    }

    #hero-part2 p{
        margin-top: 20%;
        margin-left: 0;
        margin-right: 0;
    }

    /* MAIN SECTION QUERYS */
    .main-sections-headers p{
        margin: 0;
    }

}

@media screen and (max-width: 480px){
    /* NAV section query changes =======*/
    #menu-container {
        width: 30%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    #header-logo {
        margin-left: 70px;
    }
    /* NAV */
    .container {
        display: flex;
        flex-direction: column;
    }

    #nav-list {
        flex-direction: column;
        display: none;
    }

    nav li {
        margin: 10px;
    }

    .nav-items {
        flex-direction: row;
    }

    /* BTN */
    #menu-btn {
        display: flex;
    }
    
    /*================================================*/
    /* ==== hero section Query changes ==== */
    #hero-section {
        margin-top: 30%;
    }

    #hero-part1 {
        font-weight: bold;
        margin-bottom: 15%;
    }

    #hero-part1 p{
        margin: 0px 20px;
    }

    #hero-part2 p{
        margin-top: 20%;
        margin-left: 0;
        margin-right: 0;
    }
    /* MAIN SECTION QUERYS */
    .main-sections-headers p{
        margin: 0px 12px;
    }
}
